:root {
  --main-border-style: 1px solid #e0e0e0;
  --gutter-size-xs: 8px;
  --gutter-size-x: 16px;
  --gutter-size-xl: 32px;
  --font-size-xs: 12px;
  --font-size-x: 16px;
  --font-size-xl: 18px;
  --font-color: gray;
}

#root {
  height: 100%;
  font-size: var(--font-size-x);
  color: var(--font-color);
}

.app-base-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
}

aside {
  display: flex;
  flex-flow: column nowrap;
  border-right: var(--main-border-style);
  padding: var(--gutter-size-x) 0
}

/* form-unit styles */
.form-unit {
  display: flex;
  flex-flow: column nowrap;
  padding: var(--gutter-size-x) var(--gutter-size-xl);
}

.form-unit label {
  font-size: var(--font-size-xs);
  font-weight: 600;
  margin-bottom: var(--gutter-size-xs);
}