.door-code {
    width: 100%;
    border-bottom: var(--main-border-style);
    padding: var(--gutter-size-x);
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

.door-code span {
    display: inline-block;
    padding: calc(var(--gutter-size-xs) / 2) calc(var(--gutter-size-xs) / 2);
}

.code-part {
    cursor: pointer;
    border-bottom: 2px solid;
    margin: 0 2px;
    border-radius: 2px;
}

.code-part.series {
    border-color: rgba(var(--color-series-block), 1);
}

.code-part.series:hover {
    background-color: rgba(var(--color-series-block), 0.3);
}

.code-part.design {
    border-color: rgba(var(--color-design-block), 0.4);

}

.code-part.design:hover {
    background-color: rgba(var(--color-design-block), 0.25);
}

.code-part.fittings {
    border-color: rgba(var(--color-fittings-block), 0.3);
}

.code-part.fittings:hover {
    background-color: rgba(var(--color-fittings-block), 0.15);
}

.code-part.materialRear,
.code-part.materialFront {
    border-color: rgba(var(--color-material-block), 0.3);
}

.code-part.materialRear:hover,
.code-part.materialFront:hover {
    background-color: rgba(var(--color-material-block), 0.15);
}

.code-part.box {
    border-color: rgba(var(--color-box-block), 0.3);
}

.code-part.box:hover {
    background-color: rgba(var(--color-box-block), 0.15);
}

.code-part.size {
    border-color: rgba(var(--color-size-block), 0.3);
}

.code-part.size:hover {
    background-color: rgba(var(--color-size-block), 0.15);
}